<!-- 😡😕😐🙂😍 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Happiness</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        
    </style>
</head>
<body class="bg-gray-100 text-gray-900">
    <header class="bg-emerald-300 text-white py-6 mb-8">
        <div class="container mx-auto text-center">
            <h1 class="text-4xl font-bold">Developer Happiness</h1>
            <p class="mt-2">Share your experience with tools, languages, and frameworks! <br> Developer Happiness is not about determining how good or effective a tool is. Instead, it aims to capture how happy developers are with the tools they use. The focus is on developer satisfaction and how tools contribute to their overall experience and happiness in the development process.</p>
        </div>
    </header>
    <main class="container mx-auto px-4">
        <section class="grid grid-cols-3 gap-8">
            <div>
                <h2 class="text-xl text-center font-medium">Recent comments</h2>
                <div class="pt-2">
                    <div class="flex border rounded p-2 mt-2">
                        <span class="grow">Overall Happiness</span>
                        <span>5</span>
                        <span class="ml-2">🙂</span>
                    </div>
                    <div class="flex border rounded p-2 mt-2">
                        <span class="grow">Total users</span>
                        <span>5</span>
                        <span class="ml-2">🙂</span>
                    </div>
                    <div class="flex border rounded p-2 mt-2">
                        <span class="grow">Total rates</span>
                        <span>5</span>
                        <span class="ml-2">😍</span>
                    </div>
                </div>
            </div>
            <div class="col-span-2">
                <h2 class="text-xl text-center font-medium">Statistics</h2>
                <div class="h-64 mt-4 border rounded overflow-auto">
                    <div class="border-gray-300 border-b rounded-sm p-2">
                        <p><span class="font-bold">😍 Ali Ghadimi </span> 
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 inline">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                            </svg>
                            <span>Coding with python feels like playing. It's so enjoyable like you want to do everything with this language.</span>
                        </p>
                        <div class="flex items-center">
                            <div class="grow bg-yellow-100 rounded-xl text-sm p-1 pl-4 pr-4 mt-2 mr-4">Python <span class="text-sm text-blue-400">#language</span></div>
                            <span class="text-xs text-gray-500 self-center">10 hours ago</span>
                        </div>
                    </div>

                    <div class="border-gray-300 border-b rounded-sm p-2">
                        <p><span class="font-bold">🙂 Ali Ghadimi </span> 
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 inline">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                            </svg>
                            <span>Coding with python feels like playing</span>
                        </p>
                        <div class="flex items-center">
                            <div class="grow bg-yellow-100 rounded-xl text-sm p-1 pl-4 pr-4 mt-2 mr-4">Python <span class="text-sm text-blue-400">#language</span></div>
                            <span class="text-xs text-gray-500 self-center">10 hours ago</span>
                        </div>
                    </div>
                    <div class="border-gray-300 border-b rounded-sm p-2">
                        <p><span class="font-bold"> 🙂 Ali Ghadimi </span> 
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 inline">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                            </svg>
                            <span>Coding with python feels like playing</span>
                        </p>
                        <div class="flex items-center">
                            <div class="grow bg-yellow-100 rounded-xl text-sm p-1 pl-4 pr-4 mt-2 mr-4">Python <span class="text-sm text-blue-400">#language</span></div>
                            <span class="text-xs text-gray-500 self-center">10 hours ago</span>
                        </div>
                    </div>
                    <div class="border-gray-300 border-b rounded-sm p-2">
                        <p><span class="font-bold">🙂 Ali Ghadimi </span> 
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 inline">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                            </svg>
                            <span>Coding with python feels like playing</span>
                        </p>
                        <div class="flex items-center">
                            <div class="grow bg-yellow-100 rounded-xl text-sm p-1 pl-4 pr-4 mt-2 mr-4">Python <span class="text-sm text-blue-400">#language</span></div>
                            <span class="text-xs text-gray-500 self-center">10 hours ago</span>
                        </div>
                    </div>
                    <div class="border-gray-300 border-b rounded-sm p-2">
                        <p><span class="font-bold">🙂 Ali Ghadimi </span> 
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 inline">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                            </svg>
                            <span>Coding with python feels like playing</span>
                        </p>
                        <div class="flex items-center">
                            <div class="grow bg-yellow-100 rounded-xl text-sm p-1 pl-4 pr-4 mt-2 mr-4">Python <span class="text-sm text-blue-400">#language</span></div>
                            <span class="text-xs text-gray-500 self-center">10 hours ago</span>
                        </div>
                    </div>
                    <div class="border-gray-300 border-b rounded-sm p-2">
                        <p><span class="font-bold">🙂 Ali Ghadimi </span> 
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 inline">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                            </svg>
                            <span>Coding with python feels like playing</span>
                        </p>
                        <div class="flex items-center">
                            <div class="grow bg-yellow-100 rounded-xl text-sm p-1 pl-4 pr-4 mt-2 mr-4">Python <span class="text-sm text-blue-400">#language</span></div>
                            <span class="text-xs text-gray-500 self-center">10 hours ago</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="bg-white shadow-sm mt-16 rounded">
            <h2 class="text-xl text-center font-medium pt-2">Rate here</h2>

            <div class="grid grid-cols-2 divide-x mt-4 p-4">
                <div class="pr-4">
                    <div class="space-y-1">
                        <div class="flex items-center bg-violet-200 rounded px-2">
                            <span class="">Kotlin</span>
                            <span class="grow text-sm text-blue-400 ml-2">#language</span>
                            <span class="ml-2">rates: 456</span>
                            <span class="ml-2">😍</span>
                        </div>
    
                        <div class="flex items-center bg-violet-200 rounded px-2">
                            <span class="">Java</span>
                            <span class="grow text-sm text-blue-400 ml-2">#language</span>
                            <span class="ml-2">rates: 456</span>
                            <span class="ml-2">😍</span>
                        </div>
    
                        <div class="flex items-center bg-violet-200 rounded px-2">
                            <span class="">Python</span>
                            <span class="grow text-sm text-blue-400 ml-2">#language</span>
                            <span class="ml-2">rates: 456</span>
                            <span class="ml-2">😍</span>
                        </div>
                    </div>


                    <div class="mt-8">
                        <p>Is something missing? Add it yourself, please</p>
                        <div class="flex gap-2">
                            <input class="bg-white shadow-sm focus:outline-none border rounded grow p-2" type="text" value="" placeholder="Python #language"/>
                            <button class="bg-violet-400 px-8 rounded text-white">Add</button>
                        </div>
                    </div>
                </div>
                <div class="text-center">comments</div>
            </div>
        </section>
    </main>

    <footer class="bg-gray-800 text-white py-4 mt-8">
        <div class="container mx-auto text-center">
            <p>For more information or to contribute to the project, check out our GitHub repository:</p>
            <a href="https://github.com/itsaligadimi/DeveloperHappiness" class="text-blue-400 hover:underline">
                GitHub - Developer Happiness
            </a>
        </div>
    </footer>
</body>
</html>